/* Place custom css here */

.icon-m svg {
  width: 1.5em;
  height: 1.5em;
}

.icon-s svg {
  width: 1em;
  height: 1em;
}

.tech-tag {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  background-color: rgb(255, 220, 225);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  margin: 0.125rem;
  text-decoration: none;
}

table {
  table-layout: fixed; /* New */
  width: 100%;
}

th:nth-child(1),
td:nth-child(1) {
  width: 30%; /* Adjust as needed */
}

th:nth-child(2),
td:nth-child(2) {
  width: 70%; /* Or any value */
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--code-border);
}

img {
  margin: auto;
}
